/* Type your code here */


/* change the font family and spacing as per your project font */
.main{
	background-image: url("assets/background-image1.png");
	background-repeat: no-repeat;
	background-size: cover;
    display:flex;
    flex-direction: column;
    align-content: flex-end;
}